<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="eddie"
          class="com.vonzhou.springinaction.springidolaop.Instrumentalist">
        <property name="instrument">
            <bean class="com.vonzhou.springinaction.springidolaop.Guitar"/>
        </property>
    </bean>

    <bean id="audience"
          class="com.vonzhou.springinaction.springidolaop.Audience"/>

    <aop:config>
        <aop:aspect ref="audience"><!--定义一个audience切面-->

            <aop:before pointcut=
                                "execution(* com.vonzhou.springinaction.springidolaop.Performer.perform(..))"
                        method="takeSeats"/>

            <aop:before pointcut=
                                "execution(* com.vonzhou.springinaction.springidolaop.Performer.perform(..))"
                        method="turnOffCellPhones"/>

            <aop:after-returning pointcut=
                                         "execution(* com.vonzhou.springinaction.springidolaop.Performer.perform(..))"
                                 method="applaud"/> <!--返回后通知-->

            <aop:after-throwing pointcut=
                                        "execution(* com.vonzhou.springinaction.springidolaop.Performer.perform(..))"
                                method="demandRefund"/>

        </aop:aspect>
    </aop:config>

</beans>
