<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="eddie"
          class="com.vonzhou.springinaction.springidolaop.Instrumentalist">
        <property name="instrument">
            <bean class="com.vonzhou.springinaction.springidolaop.Guitar"/>
        </property>
    </bean>

    <bean id="audience"
          class="com.vonzhou.springinaction.springidolaop.Audience"/>

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression=
                    "execution(* com.vonzhou.springinaction.springidolaop.Performer.perform(..))"
            />
            <aop:before
                    pointcut-ref="performance"
                    method="takeSeats"/>
            <aop:before
                    pointcut-ref="performance"
                    method="turnOffCellPhones"/>
            <aop:after-returning
                    pointcut-ref="performance"
                    method="applaud"/>
            <aop:after-throwing
                    pointcut-ref="performance"
                    method="demandRefund"/>
        </aop:aspect>

        <aop:aspect>
            <aop:declare-parents
                    types-matching="com.vonzhou.springinaction.springidolaop.Performer+"
                    implement-interface="com.vonzhou.springinaction.springidolaop.Contestant"
                    default-impl="com.vonzhou.springinaction.springidolaop.GraciousContestant"
            />
        </aop:aspect>
    </aop:config>

</beans>
